<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Indexpage</title>
</head>
<body>

<h3>Todo List:</h3><hr>
{% if not request.user.is_authenticated  %}
    Please login to view the content
{% endif %}
{% if request.user.is_authenticated %}
    <h1>{{ uname }} is Logged In</h1>
<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <input type="text" name="title" id="title"/>
    <input type="submit" value="submit" />
</form>
<hr>
<br>
<form method="post" action="{% url 'save_state'%}">
{% csrf_token %}
<ul>
{% for todo in todos %}
<li>  <input type="checkbox" id="{{ todo.title }}" name="{{ todo.title }}" value="" {% if todo.completed is True %} checked = "checked" {% endif %} >{{ todo.title }}   </li>
{% endfor %}
</ul>
 <input type="submit" value="Submit">
</form>
<a href="/todos/">All</a>
<a href="/todos/active">Active</a>
<a href="/todos/completed">Completed</a>
<a href="/todos/clear_completed">ClearCompleted</a>
<hr>
click <a href="/accounts/logout/">here</a> to logout
{% endif %}
</body>
</html>